body {
    font-family: Arial, sans-serif;
    background-color: rgb(160, 189, 247);
    text-align: center;
    margin: 0;
    padding: 40px;
}

.container {
    background: rgb(148, 228, 251);
    max-width: 800px;
    margin: auto;
}

h1 {
    color: #1a0202;
}

button {
    padding: 12px 20px;
    margin: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    transform: scale(1.05);
}

#content {
    background: white;
    margin-top: 25px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
}